$heightHeader: 79px;
$headerMobile: 50px;

#header {
    @include flexMid($jc: space-between);
    height: $heightHeader;
    position: fixed;
    z-index: 1;
    width: 100%;
    font-weight: bold;
    transition: all 0.4s ease-in-out 0s;
    background-color: transparent;
    &.active {
        background-color: $black-cl!important;
        transition: all 0.4s ease-in-out 0s !important;
    }
    .logo {
        width: 20%;
        @include flexMid($jc: flex-start);
        margin-left: 30px;
        a>img {
            width: 80%;
        }
    }
    .nav {
        height: 100%;
        width: 60%;
        @include flexMid($jc: space-around);
        li {
            &.active {
                color: $yellow-cl;
            }
            list-style: none;
            height: 100%;
            @include flexMid;
            .menu-item {
                @extend li;
                font-size: 15px;
                color: $white-cl;
                text-decoration: none;
                position: relative;
                &:hover {
                    color: $yellow-cl;
                }
                &:after {    
                    bottom: 10px;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: #fff;
                    transition: width 0.2s ease 0s, left 0.2s ease 0s;
                    width: 0;
                }
                &:hover:after { 
                    width: 100%; 
                    left: 0; 
                }
            }
            
        } 
    }
    .right {
        width: 20%;
        @include flexMid($jc: flex-end);
        .lang{
            @include flexMid($fd: column,$ai: flex-end);
            padding-right: 30px;
            opacity: 1;
            transition: 0.3s;
            .lang__current {
                cursor: pointer;
                span {
                    color: $white-cl;
                    text-decoration: none;
                }
                .ti-angle-down {
                    font-size: 10px;
                    color: $yellow-cl;
                } 
            }
            .lang__option {
                &.active {
                    opacity: 1;
                    pointer-events: auto; 
                }              
                pointer-events: none;  
                position: absolute;
                top: $heightHeader;
                right: 40px;
                background-color: $black-cl;
                box-shadow: 0 0 10px rgba(0,0,0,0.3);
                opacity: 0;
                transition: 0.4s;
                z-index: 2;
                li {
                    list-style: none;
                    border-bottom: 2px solid #131315;
                    padding: 5px 0px;
                    a {
                        text-decoration: none;
                        padding: 0px 12px;
                        color: $white-cl;
                        &:hover {
                            color: $yellow-cl;
                        }
                    }
                }
            }
        }
        #btnMenu {
            padding-right: 15px;
            .ti-menu{
                font-size: 24px;
                color: $yellow-cl;
                display: none;
            }
        }
    }
    .menu-mobile {
        &.active {
            opacity: 1;
            height: 100%;
            transition: all 0.4s ease-in-out 0s;
            ul {
                display: block;
                li {
                    a {
                        cursor: pointer;
                    }
                }
            }
        }
        opacity: 0;
        height: 0;
        position: fixed;
        top: 49px;
        background-color: $black-cl;
        width: 100%;
        transition: all 0.4s ease-in-out 0s;
        ul {
            display: none;
            width: 100%;
            li {
                a {
                    cursor: none;
                    @include flexMid;
                    padding: 50px 0;
                    &:hover {
                        background: #ffffff5c;
                        opacity: 0.8;
                        color: #bea67c;
                    }
                }
            }
        }
    }
}

@include tablet {
    #header {
        .nav {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
        .right {
            .lang {
                .lang__current {
                    span {
                        font-size: 14px;
                    }       
                }
            }
        }
    }
}
@include mobile {
    #header {
        height: $headerMobile;
        .logo {
            a {
                img {
                    width: 100%;
                }
            }
        }
        .nav {
            display: none;
        }
        .right {
            width: auto;
            #btnMenu {
                .ti-menu {
                    display: flex;
                }
            }
            .lang {
                padding-right: 10px;
                .lang__current {
                    span {
                        font-size: 12px;
                    }
                }
                .lang__option {
                    top: $headerMobile;
                }
            }
        }
        
    }
}

@include mobileS {
    #header {
        height: $headerMobile;
        .logo {
            a {
                img {
                    width: 100%;
                }
            }
        }
        .nav {
            display: none;
        }
        .right {
            width: auto;
            #btnMenu {
                .ti-menu {
                    display: flex;
                }
            }
            .lang {
                padding-right: 10px;
                .lang__current {
                    span {
                        font-size: 10px;
                    }
                    .ti-angle-down {
                        font-size: 8px;
                    }
                }
                .lang__option {
                    top: $headerMobile;
                }
            }
        }
        .menu-mobile {
            
            ul {
                li {
                    .menu-mobile__items {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}