/* Slider */
#slider {
    position: relative;
    .slider_wrap {
        height: 100%;
        .slider_item {
            &.active {
                opacity: 1;
                height: 100%;
            }
            opacity: 1;
            height: auto;
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: row;
            >img {
                @include img;
            }
            .slider_item-text {
                @include abs;
                a {
                    display: block;
                    width: fit-content;
                    margin: auto;
                    border: 1px solid $white-cl;
                    padding: 12px 32px;
                    color: $white-cl;
                    transition: 0.3s;
                    transition-timing-function:cubic-bezier(.6,.28,.49,.9);
                    &:hover,
                    &:focus {
                    box-shadow: 
                        inset -120px 0 0 0 $yellow-cl,
                        inset 120px 0 0 0 $yellow-cl;  
                    }
                }
            }
        }
    }
    .slider_bottom {
        @include flexMid($jc: space-evenly , $ai: flex-end);
        position: absolute;
        bottom: 5px;  
        width: 100%;
        margin-bottom: 20px;
        .slider_bottom-left {
            @include flexMid($jc: flex-start);
            width: 20%;
            color: $yellow-cl;
            margin-left: 30px;
            position: relative;
            &::before {
                content: '';
                display: block;
                width: 48px;
                height: 3px;
                background-color: $yellow-cl;
                position: absolute;
                top: -3px;
                transform: translate(-80%);
            }
            .number {  
                font-size: 42px;
                font-weight: bold;
                top: -30px;
                left: 30px;
                position: absolute;
            }
            .dots {
                @include flexMid;
                position: absolute;
                left: 45%;
                top: -25px;
                height: auto;
                display: flex;
                .flickity-page-dots {
                    display: flex;
                    width: auto;
                    .is-selected {
                        background-color: $yellow-cl;
                    }
                }
            }
            .dotted {
                margin-left: 10px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: #303030;
                transition: all 0.4s ease-in-out 0s;
            }
            .active {
                background-color: $yellow-cl;
                transition: all 0.4s ease-in-out 0s;
            }
        }
        .slider_bottom-center {
            width: 60%;
            -moz-animation: arrowdown 3s infinite;
            -webkit-animation: arrowdown 3s infinite;
            animation: arrowdown 3s infinite;
            @keyframes arrowdown {
                0%, 20%, 50%, 80%, 100% {
                    transform: translateY(25px);
                }
                50% {
                    transform: translateY(-20px);
                }
                }
            @include flexMid(column);
            .mouse {
                margin-bottom: 10px;
                img {
                    width: 80%;
                }
               
            }
            .arrow-down {
                img {
                    width: 80%;
                }
                
            }
            

        }
        .slider_bottom-right {
            width: 20%;
            @include flexMid($jc: flex-end);
            padding-right:30px;
            a {
                border: 1px solid #fff;
                padding: 4px 12px;
                transition: all 0.4s ease-in 0s;
            }
            a:hover {
                background-color: #bea67c;
                transition: all 0.4s ease-in 0s;
            }
            
        }
    }
}

/* Products */
#products {
    .product_item {
        @include flexMid;
        margin: 80px auto;
        .textbox {
            @include flexMid($fd: column, $ai: flex-start);
            width: 50%;
            padding: 0 65px;
            text-align: justify;
            a {
                color: $black-cl;
                margin: 15px 0;
                width: fit-content;
            }
            a:after {
                content: "";
                height: 1.5px;
                display: block;
                width: 36px;
                background-color: $yellow-cl;
                margin-top: 5px;
            } 
            .ti-arrow-right {
                color: $yellow-cl;
            } 
        }
        h3:before {
            display: block;
            content: "";
            height: 1px;
            width: 45px;
            background-color: $line-cl;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-65px,-50%);
        }
        .text-right {
            text-align: right!important;
            align-items: flex-end;
            h3:before {
                display: none;
            }
            h3:after {
                display: block;
                content: "";
                height: 1px;
                width: 45px;
                background-color: $line-cl;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(65px,-50%);
            }
        }
        .product_img {
            width: 50%;
            img {
                width:100%;
            }
        }
    }
    .reverse {
        flex-direction: row-reverse;
    }
}

/* Wood-Video */
#wood-video {
    .textbox {
        text-align: center;
        margin-bottom: 30px;
        h3::after {
            content: "";
            display: block;
            height: 2.5px;
            width: 44px;
            background-color: $yellow-cl;
            position: absolute;
            margin: 5px auto;
            left: 50%;
            transform: translate(-50%);
        }
        p {
            display: block;
            padding: 0 220px;
            margin: 30px 0;
        }
    }
    .video-lists {
        @include flexMid($jc: space-evenly);
        margin: 50px auto;
        .video-content {
            @include flexMid($fd: column);
            .video-img {
                border-radius: 50%;
                border: 5px double #e6e6e6;
                width: 200px;
                height: 200px;
                position: relative;
                opacity: 0.7;
                transition: all 0.4s ease-out 0s;
                &:hover {
                    opacity: 1;
                    transition: all 0.4s ease-out 0s;
                }
                >img {
                    @include img;
                    height: 100%;
                    border-radius: 50%;
                }
                span {
                    cursor: pointer;
                    img {
                        @include abs;
                        transition: all 0.3s ease-in 0s;
                        &:hover {
                            opacity: 0.6;
                            transition: all 0.3s ease-in 0s;
                        }
                    }
                }
            }
            .caption {
                margin-top: 10px;
                position: relative;
            }
            .caption::before {
                content: "";
                display: block;
                height: 1px;
                width: 23px;
                background-color: $yellow-cl;
                position: absolute;
                left: 50%;
                top: 10%;
                transform: translate(-50%,-10%);
            }
        }
    }
    .popup-video {
        display: none; //display: flex
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.7);
        justify-content: center;
        align-items: center;
        z-index: 999;
        padding: 0 15px;
        .iframe-wrapper {
            background: $black-cl;
            border: 5px solid $white-cl;
            height:100%;
            width:100%;
            position:relative;
            max-width: 603px;
            max-height: 344px;
            .close-video {
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(50%,-50%);
                border: 1px solid #bea67c;
                border-radius: 50%;
                padding: 8px 12px;
                cursor: pointer;
                font-weight: bold;
                background: white;
            }
        }
    }
}

/* Design */
#design {
    position: relative;
    padding: 100px 0;
    background:url(/img/section-2/gregory-dalleau.jpg) no-repeat center center;
    .design_description {
        max-width: 560px;
        margin: 0;
        h3 {
            color: $yellow-cl;
            letter-spacing: 2px;
        }
        p {
            width: 77%;
            color: $white-cl;
            padding: 10px 0;
            margin: 25px 0;
        }
        a {
            border: 1px solid $white-cl;
            position: relative;
            padding: 16px 56px;
            letter-spacing: 4px;
            img {
                position: absolute;
                left: 41px;
                top: 13px;
            }
            span {
                padding-left: 16px;
                font-size: 12px;
            }
        }
        a:hover {
            background-color: $yellow-cl;
        }
    }
}

/* About */
#about {
    @include flexMid;
    .about-img {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .textbox {
        margin: 0 74px;
        h3::before {
            display: block;
            content: "";
            height: 1px;
            width: 80px;
            background: $line-cl;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-110px,-50%);
        }
        a {
            color: $black-cl;
            .ti-arrow-right {
                color: $yellow-cl;
            }
        }
    }
}

/* Gallery */
#gallery {
    background-color: $black-cl;
    .container {
        padding: 50px 0;
    }
    .galleryImg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 200px);
        gap: 15px;
        margin: 30px auto;
        .galleryImg_items {
            overflow: hidden;
            img {
                @include img;
                opacity: 0.5;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
                transition: all 0.4s cubic-bezier(0.4, 0, 1, 1) 0s;
            }
        }
        .galleryImg_items:nth-child(2) {
            grid-area: 1/2/3/3;
        }
    }
    .popupImage {
        display: none; //display: flex
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.7);
        justify-content: center;
        align-items: center;
        z-index: 4;
        .image-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .imgFull {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                height: 680px;
                width: 60%;
                img {
                    width: 100%;
                    height: 100%;
                    min-width: 100%;
                    min-height: 100%;
                    object-fit: contain;
                }
            }
            .prev {
                display: flex;
                justify-content: center;
                font-size: 30px;
                color: white;
                cursor: pointer;
                width: 20%;
                padding: 100% 0;
            }
            .next {
                display: flex;
                justify-content: center;
                font-size: 30px;
                color: white;
                cursor: pointer;
                width: 20%;
                padding: 100% 0;
            }
        }
    }
}


/* News */
#news {
    .text-info {
        color: $text-cl;
        margin-bottom: 20px;
    }
    .news-tabs {
        a {
            border: 1px solid $white-cl;
            padding: 10px 12px;
            margin-right: 5px;
            color: $black-cl;
            background: #9b9b9b;
            font-weight: 700;
            transition: .4s ease-out 0s;
            &:hover {
                background: $yellow-cl;
                color: $white-cl;
                transition: .4s ease-out 0s;
            }
            &.active {
                background: $yellow-cl;
                color: $white-cl;
            }
        }
    }
    .news-articles {
        display: none;
        flex-direction: row;
        justify-content: center;
        margin: -8px -8px;
        &.active {
            display: flex;
        }
        .article {
            width: calc(100%/3);
            padding: 0px 8px;
            margin: 60px auto;
            .article_img {
                position: relative;
                img {
                    @include img;
                    opacity: 1;
                    transition: all 0.2s ease-in-out 0s;
                    &:hover {
                        opacity: 0.7;
                        transition: all 0.2s ease-in-out 0s;
                    }
                }
            }
            .article_info {
                margin-top: 10px;
                position: relative;
                a {
                    color: $black-cl;
                }
                a::before {
                    content: "";
                    height: 4px;
                    display: block;
                    width: 80px;
                    background-color: $yellow-cl;
                    margin: 10px 0;
                }
                p {
                    padding: 0;
                    max-width: 90%;
                    white-space: pre-wrap;
                    text-overflow: clip;
                    position: absolute;
                    top: 65px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
}

/* faq */
#faq {
    @include flexMid($fd: column);
    background-color: $black-cl;
    min-height: 400px;
    h3 {
        color: $white-cl;
    }
    .faq_content {
        overflow: hidden;
        background-color: gray;
        margin-bottom: 5px;
        &.active {
            background-color: $yellow-cl;
        }
        .question {
            padding: 18px 22px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            transition: .4s ease-in-out 0s;
            &:hover {
                background-color: $yellow-cl;
                transition: .4s ease-in-out 0s;
            }
            &.active {
                background-color: $yellow-cl;
            }
            i {
                transform: rotate(0);
                transition: 0.4s;
                &.active {
                    transform: rotate(90deg);
                    transition: 0.4s;
                }
            }
        }
        .answer {
            height: 0;
            color: white;
            padding: 0;
            background: grey;
            border-bottom: 1px solid #000;
            display: block;
            &.active {
                height: 100%;
                padding: 18px 24px;
                transition: .4s;
            }
        }
    }
}

/* TAG */
#tag {
    .tag_lists {
        display: flex;
        flex-direction: row;
        .tag {
            border-radius: 8px;
            padding: 6px 6px;
            width: fit-content;
            background-color: green;
            margin: 2px;
            .remove {
                cursor: pointer;
                color: $white-cl;
                padding: 0px 5px;
                font-size: 12px;
            }
        }
    }
    input {
        margin-left: 2px; 
        padding:8px;
        width: 400px;
        
    }
}

/* sliderDrag */
#sliderDrag {
    //overflow: hidden;
    margin-top: 40px;
    .sliderImages {
        .imageItem {
            width: 400px;
            height: 300px;
            img {
                width: 100%;
                height: 100%;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
        }
        @include flexMid;
        width: 100%;
        
    }
}

.backToTop {
    &.active {
        opacity: 1;
        cursor: pointer;
        display: block;
    }
    opacity: 0;
    text-align: center;
    position: fixed;
    width: 50px;
    height: 50px;
    background: $black-cl;
    right: 20px;
    bottom: 80px;
    border-radius: 50%;
    font-size: 22px;
    padding: 14px 2px;
    color: $yellow-cl;
    z-index: 3;
}

@include PC {
    #slider {
        
        .slider_bottom {
            .slider_bottom-left {
                &::before {
                    width: 30px;
                    transform: translate(-100%);
                }
                .number {
                    left: 15px;
                }
                .dots {
                    left: 50%;
                }
            }
        }
    }
    
}
@include tablet {
    .container{
        margin: 40px 30px;
    }
    #slider {
        .slider_wrap {
            .slider_item {
                h2 {
                    font-size: 66px;
                    margin-bottom: 28px;
                }
                .slider_item-text {
                    a {
                        padding: 10px 16px;
                        font-size: 12px;
                    }
                }    
            }
        }
        .slider_bottom {
            .slider_bottom-left {
                &::before {
                    width: 30px;
                    transform: translate(-100%);
                    top: -10px;
                }
                .number {
                    font-size: 32px;
                    left: 15px;
                }
                .dots {
                    left: 60%;
                    top: -32px;
                }
            }
            .slider_bottom-center {
                .mouse {
                    width: 15px;
                }
                .arrow-down {
                    width: 8px;
                }
            }
            .slider_bottom-right {
                a {
                    padding: 4px 8px;
                }
            }
        }
    }
    #products {
        .product_item {
            flex-direction: column!important;
            .textbox {
                width: 100%;
                max-width: 637px;
                h3 {
                    &::before {
                        display: none;
                    }
                    &::after {
                        display: none;
                    }
                }
            }
            .product_img {
                width: fit-content;
            }
        }
        
    }
    #wood-video {
        .textbox {
            p {
                padding: 0 136px;
            }
        }
    }
    #design {
        .container {
            .design_description {
                padding-left: 100px;
            }
        }
    }
    #news {
        .text-info {
            width: 100%;
        }
        .news-articles {
            .article {
                .article_info {
                    p {
                        top: 80px;
                    }
                }
            } 
        }
    }
}
@include mobile {
    h3 {
        font-size: 36px;
    }
    p, span {
        font-size: 14px;
    }
    .container{
        margin: 40px 30px;
    }
    #slider {
        .slider_wrap {
            .slider_item {
                h2 {
                    font-size: 48px;
                    margin-bottom: 16px;
                    letter-spacing: 16px;
                    line-height: 40px;
                }
                .slider_item-text {
                    a {
                        padding: 8px 12px;
                        font-size: 10px;
                    }
                }    
            }
        }
        .slider_bottom {
            justify-content: space-between;
            .slider_bottom-left {
                &::before {
                    width: 30px;
                    transform: translate(-100%);
                    top: -12px;
                }
                .number {
                    font-size: 26px;
                    left: 9%;
                    top: -27px;
                }
                .dots {
                    left: 75%;
                    top: -32px;
                    .flickity-page-dots {
                        .dot {
                            width: 8px;
                            height: 8px;
                        }
                    }
                }
            }
            .slider_bottom-center {
                display: none;
            }
            .slider_bottom-right {
                a {
                    padding: 4px 8px;
                }
            }
        }
    }
    #products {
        .product_item {
            flex-direction: column!important;
            margin: 60px auto;
            .textbox {
                width: 100%;
                max-width: 509px;
                padding: 0;
                text-align: left!important;
                align-items: flex-start;
                h3 {
                    &::before {
                        display: none;
                    }
                    &::after {
                        display: none;
                    }
                }
            }
            .product_img {
                width: fit-content;
            }
        }
    }
    #wood-video {
        .textbox {
            p {
                padding: 0 40px;
            }
        }
        .video-lists{
            flex-direction: column;
        }
    }
    #design {
        .design_description {
            a {
                padding: 12px 48px;
                img {
                    left: 36px;
                    top: 11px;
                }
            }
        }
    }
    #about {
        flex-direction: column;
        .about-img {
            max-width: 100%;
            width: auto;
        }
        .textbox {
            padding: 0 52px;
            text-align: center;
            margin:auto;
            h3:before {
                display: none;
            }
        }
    }
    #gallery{
        .text-info {
            width: 100%;
            padding-right: 56px;
        }
        .galleryImg {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    #news {
        .text-info {
            width: 100%;
            padding-right: 56px;
        }
        .news-articles {
            flex-direction: column;
            .article {
                width: 75%;
            }
        }
    }
    
}

@include mobileS {
    h3 {
        font-size: 28px;
    }
    p,span {
        font-size: 12px;
    }
    a {
        font-size: 10px;
    }
    .container{
        margin: 40px 30px;
    }
    #slider {
        .slider_wrap {
            .slider_item {
                h2 {
                    font-size: 28px;
                    margin: auto;
                    letter-spacing: 12px;
                    line-height: 40px;
                }
                .slider_item-text {
                    a {
                        padding: 5px 8px;
                        font-size: 6px;
                        i {
                            img {
                                width: 20px;
                            }
                        }
                    }
                }    
            }
        }
        .slider_bottom {
            justify-content: space-between;
            margin-bottom: 10px;
            .slider_bottom-left {
                &::before {
                    width: 28px;
                    transform: translate(-120%);
                    top: -10px;
                    height: 2px;
                }
                .number {
                    font-size: 18px;
                    left: 2%;
                    top: -20px;
                }
                .dots {
                    left: 75%;
                    top: -30px;
                    .flickity-page-dots {
                        .dot {
                            width: 6px;
                            height: 6px;
                        }
                    }
                }
            }
            .slider_bottom-center {
                display: none;
            }
            .slider_bottom-right {
                a {
                    padding: 2px 4px;
                    img {
                        width: 25px;
                    }
                }
            }
        }
    }
    #products {
        .product_item {
            flex-direction: column!important;
            
            .textbox {
                width: 100%;
                padding: 0;
                text-align: left!important;
                align-items: flex-start;
                h3 {
                    &::before {
                        display: none;
                    }
                    &::after {
                        display: none;
                    }
                }
            }
            .product_img {
                width: fit-content;
            }
        }
    }
    #wood-video {
        .textbox {
            p {
                padding: 0 14%;
            }
        }
        .video-lists{
            flex-direction: column;
        }
    }
    #design {
        .design_description {
            a {
                padding: 16px 40px;
                img {
                    left: 30px;
                    top: 11px;
                }
            }
        }
    }
    #about {
        flex-direction: column;
        .about-img {
            max-width: 100%;
            width: auto;
        }
        .textbox {
            padding: 0;
            margin:auto;
            text-align: center;
            h3:before {
                display: none;
            }
        }
    }
    
    #gallery{
        .text-info {
            width: 100%;
            padding:0;
        }
        .galleryImg {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 200px);
            .galleryImg_items:nth-child(2) {
                grid-area: auto;
            }
        }
    }
    #news {
        .text-info {
            width: 100%;
            padding:0;
        }
        .news-articles {
            flex-direction: column;
            .article {
                width: 100%;
            }
        }
    }
    
}

